In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import StandardScaler

In [3]:
df=pd.read_csv(r"C:\Users\Viswa.DP-PC\Downloads\p1_train.csv")
df.columns=['sensor1', 'sensor2', 'health']
df

        sensor1    sensor2     health
0      3.462140  10.684524 -13.275822
1    -12.996801  -3.446163  31.815190
2      7.083537 -14.074146   1.995030
3    -15.216890 -18.630651  48.812452
4      6.841930  -8.080967  -0.481346
...         ...        ...        ...
9994  16.981033  -7.377274 -21.776089
9995   0.258434 -19.488764  22.098571
9996  17.588664  11.326009 -47.812604
9997   0.531756 -15.189405  20.791085
9998  10.763891  -2.720607 -20.735447

[9999 rows x 3 columns]

In [4]:
df.isna().sum()

sensor1    0
sensor2    0
health     0
dtype: int64

In [5]:
df.describe()

           sensor1      sensor2       health
count  9999.000000  9999.000000  9999.000000
mean     -0.110496     0.099035     3.101345
std      11.550837    11.479019    25.852813
min     -19.996699   -19.998481   -59.284604
25%     -10.244111    -9.767787   -16.589709
50%      -0.046667     0.216316     3.049771
75%       9.763578    10.003815    22.964140
max      19.997594    19.990429    65.001858

In [6]:
df1=pd.read_csv(r"C:\Users\Viswa.DP-PC\Downloads\p1_test.csv")
df1.columns=['sensor1', 'sensor2', 'health']
df1

        sensor1    sensor2     health
0     -2.722421  -4.540615  11.475211
1    -14.587111  18.592864  11.468441
2      0.224331  16.433306 -15.159309
3    -12.215286  11.742682  17.392223
4     17.213737 -13.958878 -18.291343
...         ...        ...        ...
4994 -14.424996   7.055352  21.402087
4995 -12.249485  12.226991  14.971488
4996 -19.242759 -18.218209  56.687193
4997 -13.561869   2.773022  26.627790
4998  -3.784030   0.979866  11.868025

[4999 rows x 3 columns]

In [7]:
df1.isna().sum()

sensor1    0
sensor2    0
health     0
dtype: int64

In [8]:
df1.describe()

           sensor1      sensor2       health
count  4999.000000  4999.000000  4999.000000
mean      0.056290     0.039309     2.886820
std      11.693130    11.484365    26.241034
min     -19.973243   -19.996953   -58.349238
25%     -10.306069    -9.918277   -17.900547
50%       0.040070     0.001381     2.971666
75%      10.370708    10.107220    23.351305
max      19.993141    19.988899    66.419653

In [9]:

# Load the training and testing datasets with specified column names
train_data = pd.read_csv(r"C:\Users\Viswa.DP-PC\Downloads\p1_train.csv", names=['sensor1', 'sensor2', 'health'])
test_data = pd.read_csv(r"C:\Users\Viswa.DP-PC\Downloads\p1_test.csv", names=['sensor1', 'sensor2', 'health'])


# Split the datasets into input features (X) and target variable (y)
X_train, y_train = train_data.iloc[:, :-1], train_data.iloc[:, -1]
X_test, y_test = test_data.iloc[:, :-1], test_data.iloc[:, -1]

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
models=[LinearRegression(),SVR(kernel='rbf')]
for model in models:
    model.fit(X_train_scaled, y_train)
    y_pred =model.predict(X_test_scaled)
    
   
    # Calculate Mean Squared Error (MSE) and Mean Absolute Error (MAE) for models
    mse = mean_squared_error(y_test,y_pred)
    mae = mean_absolute_error(y_test,y_pred)
    
    print(f"********{type(model).__name__}*********")
    
    
    print(f"Mean Squared Error (MSE): {mse}")
    print(f"Mean Absolute Error (MAE): {mae}")

********LinearRegression*********
Mean Squared Error (MSE): 5.046436003951253
Mean Absolute Error (MAE): 1.7990800530982611
********SVR*********
Mean Squared Error (MSE): 5.421581880889699
Mean Absolute Error (MAE): 1.8573896544706687

In [ ]:
#Since lower values for both MSE and MAE indicate better performance, 
# the Linear Regression model is better for this particular dataset and problem.